#bulb-home{
    background-image: url("../images/bulbs/bulb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:550px;
    text-align:center;
}
.bulb-home h3{
    font-family: "Times new";
    font-style: italic;
    font-size:80px;
    color: white;
    text-align:center;
    padding-top:100px;
}
#no-line
{
  color: black;
  text-decoration:none;
}