<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fruits</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/fruits.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <!--navigation bar-->
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                  <a class="navbar-brand text-white" href="#">Sasya</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-white" aria-current="page" href="index.html">Home</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="bulbs.html">Bulbs</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="flowers.html">Flowers</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="roots.html">Roots</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="leaves.html">Leaves</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="seeds.html">Seeds</a>
                    <!--search recipies-->
                </div>
              </div>
        </div>
      </nav>
      <!--Image and home-->
      <div class="flow-home" id="flow-home">
          <h3>Fruits Remidies</h3>
      </div></br>
      <!--recipies-->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        
          <div class="col">
            <div class="card h-100">
              <img src="../images/Fruits/amla.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Amala</h5>
                <p class="card-text">Amla is rich in antioxidents, which reduces the risk of chronic heart conditions like heart disease, diabetes and cancer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../images/Fruits/grapefruit.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Grapefruit</h5>
                <p class="card-text">rich in antioxidents. Grapefruit provides a number of beneficial and protective nutrients.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../images/Fruits/jamun.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Jamun</h5>
                <p class="card-text">Jamun is benificial to keep your heart healthy and keep heart issues away.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../images/Fruits/apple.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Apple</h5>
                <p class="card-text">Apples are rich in fiber, vitamins and minerals, all of which benefit health. It supports weightloss. it is good for your heart.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../images/Fruits/bannana.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Bannana</h5>
                <p class="card-text">It is rich in nutrients. Improves blood sugar levels, may support digestive health.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../images/Fruits/saw palmetto.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">saw palmetto</h5>
                <p class="card-text"> It is a special species of palm which may help inpreventing hair loss, improve prostate health..</p>
              </div>
            </div>
          </div>
      </div>
    </br>
<!-- Footer -->
<footer class="text-center text-white bg-dark">
    <br>
    
      <!-- Section: Useful Links  -->
      <section id="foot" class="links">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
            
                <i class="fas fa-gem me-3"></i>Sasya
              </h6>
              <p>
               Sasya is a predicting website. I ahve sued HTML, CSS, BOOTSTRAP,FLASK and JAVASCRIPT..
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  links
                </h6>
                <p>
                  <a href="index.html" class="text-reset">Home</a>
                </p>
                <p>
                  <a href="roots.html" class="text-reset">Roots</a>
                </p>
                <p>
                  <a href="stems.html" class="text-reset">Stems</a>
                </p>
                <p>
                  <a href="flowers.html" class="text-reset">Flowers</a>
                </p>
                <p>
                  <a href="seeds.html" class="text-reset">Seeds</a>
                </p>
                <p>
                  <a href="bulbs.html" class="text-reset">Bulbs</a>
                </p>
              </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contact
              </h6>
              <p><i class="fas fa-home me-3"></i>NHCE,Bangalore</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                image@sasya.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 91 9876543210</p>
              <p><i class="fas fa-print me-3"></i> + 91 0987654321</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Ritika Hiremath</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    </body>
</html>