<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Seeds</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/seeds.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <!--navigation bar-->
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                  <a class="navbar-brand text-white" href="#">Sasya</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-white" aria-current="page" href="index.html">Home</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="bulbs.html">Bulbs</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="flowers.html">Flowers</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="fruits.html">Fruits</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="leaves.html">Leaves</a>
                    <a class="nav-link text-white" style="margin-left: 1rem;" href="roots.html">Roots</a>
                    <!--search recipies-->
                </div>
              </div>
        </div>
      </nav>
      <!--Image and home-->
      <div class="flow-home" id="flow-home">
          <h3>Seeds Remedies</h3>
      </div></br>
      <!--recipies-->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100"><a href="https://www.tarladalal.com/ajwain-water-41751r" id="no-line">
            <img src="../images/seeds/ajwin.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ajwin</h5>
              <p class="card-text">Ajwain is common in Indian food. It has a strong, bitter taste with an aroma similar to thyme. The “seeds,” which are actually fruits, are typically dry-roasted or ground and used in spice mixtures. They are also used in Ayurvedic and Siddha medicine to help treat numerous issues. These are healing systems that involve the belief that your overall health and wellness depend on a balance between your body, mind, and spirit.</p>
            </div></a>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"><a href="https://yummyindiankitchen.com/jeera-water-recipe-for-weight-loss-cumin-water-drink/" id="no-line">
            <img src="../images/seeds/jeera.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jeera</h5>
              <p class="card-text">Cumin seeds are packed with antioxidants, anti-inflammatory properties, Vitamin A, C, copper, and manganese. Drinking jeera water concoction can help detoxifies your body, remove all the toxins from it, suppresses hunger hormones and even speed up the metabolism</p>
            </div></a>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"><a herf="https://pharmeasy.in/blog/14-health-benefits-of-black-pepper-and-recipes/" id="no-line">
            <img src="../images/seeds/pepper.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pepper</h5>
              <p class="card-text">Black pepper, also known as the king of spices has a load of health benefits and a major benefit of consuming pepper is that it aids in weight loss. It is also said to be good for digestion and prevents cancer by detoxifying the body. When this spice is added to the food, it makes your food taste better and spicier.</p>
            </div></a>
          </div>
        </div>
        
      </div>
    </br> 
<!-- Footer -->
<footer class="text-center text-white bg-dark">
    <br>
    
      <!-- Section: Useful Links  -->
      <section id="foot" class="links">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
            
                <i class="fas fa-gem me-3"></i>Sasya
              </h6>
              <p>
               Sasya is a predicting website. I ahve sued HTML, CSS, BOOTSTRAP,FLASK and JAVASCRIPT..
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  links
                </h6>
                <p>
                  <a href="index.html" class="text-reset">Home</a>
                </p>
                <p>
                  <a href="fruits.html" class="text-reset">Fruits</a>
                </p>
                <p>
                  <a href="stems.html" class="text-reset">Stems</a>
                </p>
                <p>
                  <a href="flowers.html" class="text-reset">Flowers</a>
                </p>
                <p>
                  <a href="roots.html" class="text-reset">Roots</a>
                </p>
                <p>
                  <a href="bulbs.html" class="text-reset">Bulbs</a>
                </p>
              </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contact
              </h6>
              <p><i class="fas fa-home me-3"></i>NHCE,Bangalore</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                image@sasya.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 91 9876543210</p>
              <p><i class="fas fa-print me-3"></i> + 91 0987654321</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Ritika Hiremath</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    </body>
</html>